{% extends 'base.html' %}

{% block breadcrumb %}
		<li class = "breadcrumb-item"><a href="{% url 'leads' %}">Leads</a></li>
          <li class="breadcrumb-item active">Change Password</li>
{% endblock %}

{% block content %}
  <div class="container">
  	{% if messages %}
  		<ul class="messages">
  		{% for message in messages %}
  			<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
  		{% endfor %}
  		</ul>
  	{% endif %}
    <h3 class="card-title text-center mb-3">Change Password</h3>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block mb-4">Submit</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}